* {
  list-style: none;
}

a {
  text-decoration: none;
  color: #292c35;
}

a:hover {
  text-decoration: none;
  color: #292c35;
}

body {
  background-color: var(--medium-grey);
}

:root {
  --dark-grey: #292c35;
  --medium-grey: #999999;
  --light-grey: #616161;
  --yellow: #e09145;
  --dust-pink: #c1adae;
  --off-white: #faf9f6;
  --red:indianred;
}

.header-tip {
  display: flex;
  flex-wrap: wrap;
  height: 5vh;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:var(--red);
  color: var(--off-white);
}

.header-tip > .logo-number {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-tip > .shop-now {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav {
  background-color: var(--off-white);
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

nav > ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.home-logo-index {
  display: flex;
  flex-wrap: wrap;
}

.home-logo-index span{
   font-size: 1.5rem;
}

#menuAndOptions{
  position: relative;
}

#menuOptions div span{
  font-size: 20px;
  display: none;
}

#menuOptions div #menuCategories{
  position: absolute;
  right: 1px;
  top: 1.5rem;
  display: none;
}

#menuOptions div ul li{
  border-bottom:2px solid var(--light-grey);
  background-color: var(--medium-grey);
  padding: 10px;
}

#menuOptions div ul li:hover{
  background-color: var(--dust-pink);
}

nav > ul .nav-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul .nav-options li {
  padding: 0 5px;
  font-size: 17px;
  margin: .5rem;
}

nav ul .nav-options li:hover{
  background-color:var(--medium-grey);
  font-size: 20px;
  color: var(--off-white);
}

main .cover-picture {
  background-image: url("./Images/home-cover-picture.jpg");
  width: 100%;
  height: 85vh;
  object-fit: contain;
  display: flex;
  justify-content: center;
  text-align: center;
}

main .cover-picture div {
  margin: auto;
}

main .cover-picture div h1 {
  font-size: 15rem;
}

.heading-veronica {
  text-align: center;
  color: var(--off-white);
}

main .cover-picture div .buy-now-btn {
  text-align: center;
}

main .cover-picture div button {
  background: var(--off-white);
  border: none;
  padding: 1.5rem;
  font-size: large;
}

.void-our-products {
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}

.article-best-selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25rem;
  padding: 1.5rem;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  font-family: arial;
  background-color: var(--off-white);
}

.article-best-selling .product-card img {
  width: 21rem;
  height: 20rem;
}

.product-card button {
  background-color: var(--off-white);
  border-color: var(--medium-grey);
}

.void-categories {
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}

.article-categories {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}

.article-categories div a {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  align-items: center;
  color: #f2f3f5;
  justify-content: center;
  font-family: cursive;
  font-size: x-large;
  background-color: var(--light-grey);
}

footer {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  background: var(--dust-pink);
}

.connect-with-us {
  text-align: center;
  font-family: cursive;
}

footer .p-3 i {
  font-size: 30px;
}

.footer-grid-2 .row {
  justify-content: center;
  margin: 5px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.col-3 ul li {
  text-align: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1200px) {
  main .cover-picture div h1 {
    font-size: 15rem;
  }
  .header-tip > .shop-now li:first-child {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 1024px) {
  main .cover-picture div h1 {
    font-size: 13rem;
  }

  .header-tip > .shop-now li:first-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main .cover-picture div h1 {
    font-size: 10rem;
  }
  .header-tip > .shop-now li:first-child {
    display: none;
  }
  nav > ul .nav-options{
    display: none;
  }
  
  #menuOptions div span{
    display: block;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {
  main .cover-picture div h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 320px) {
  main .cover-picture div h1 {
    font-size: 3rem;
  }
  main .cover-picture div button{
    padding: 1rem;
  }
}
