* {
  list-style: none;
  
}

a{
  text-decoration: none;
}

body{
  background-color: var(--medium-grey);
}

:root{
  --dark-grey: #292C35;
  --medium-grey:#999999;
  --light-grey:#616161;
  --yellow:#E09145;
  --cream:#FCD9B8;
  --off-white:#FAF9F6;
}

.header-tip{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--light-grey);
}

.header-tip > .logo-number{
  display: flex;
  flex-direction: row;
}

.header-tip > .shop-now{
  display: flex;
  flex-direction: row;
}

nav{
 background-color: var(--off-white);
 padding: .5rem 1rem;
 
}

nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul .nav-options{
  display: flex;
}

nav ul .nav-options li {
  padding: 0 5px ;
}

nav ul li input{
  border-radius: 10px;
  padding: 2px 6px;
}

main .cover-picture{
  background-image: url("./Images/home-cover-picture.jpg");
  width: 100%;
  height: 100vh;

  object-fit:ccontain;
}

main .cover-picture span{
  margin:auto;
  color: white;
  font-size: 10rem;
  width: 50%;
}

main .cover-picture span button{
  color: var(--dark-grey);
  background: var(--off-white);
  padding: 1.3rem 3rem;
  border: none;
  display: block;
  margin: 10px ;
}

.void-our-products{
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
  
}

.article-best-selling{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:25rem ;
  padding: 1.5rem;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  font-family: arial;
  background-color: var(--off-white);
}

.article-best-selling .card img{
  width:25rem;
   height:25rem
} 

.card button {
  background-color: var(--off-white);
  border-color: var(--medium-grey);
}

.void-categories{
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
  
}

.article-categories{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}

.article-categories div{
   display: flex;
   width: 10rem;
   height: 10rem;
   margin: 1rem;
   align-items: center;
   color: #F2F3F5;
   background-color: var(--light-grey);  
}

.article-categories div span{
  justify-content: center;
  margin: 20%;
  font-family: cursive;
  font-size: x-large;
}

footer{
  position:fixed;
  bottom: 0;
}