* {
  list-style: none;
}

a {
  text-decoration: none;
  color: #292c35;
}

a:hover {
  text-decoration: none;
  color: #292c35;
}

body {
  background-color: var(--medium-grey);
}

:root {
  --dark-grey: #292c35;
  --medium-grey: #999999;
  --light-grey: #616161;
  --yellow: #e09145;
  --dust-pink: #c1adae;
  --off-white: #faf9f6;
}

.header-tip {
  display: flex;
  flex-wrap: wrap;
  height: 5vh;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--light-grey);
}

.header-tip > .logo-number {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-tip > .shop-now {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav {
  background-color: var(--off-white);
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.home-logo-index {
  display: flex;
  flex-wrap: wrap;
}

nav > ul .nav-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul .nav-options li {
  padding: 0 5px;
}

nav ul li input {
  border-radius: 10px;
  padding: 2px 6px;
}

main .cover-picture {
  background-image: url("./Images/home-cover-picture.jpg");
  width: 100%;
  height: 85vh;
  object-fit: contain; 
}

main .cover-picture div h1 {
  font-size: 15rem;
}

.heading-veronica {
  text-align: center;
  color: var(--off-white);
}

main .cover-picture div .buy-now-btn {
  text-align: center;
}

main .cover-picture div button {
  background: var(--off-white);
  border: none;
  padding: 1.5rem;
  font-size: large;
}

.void-our-products {
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}

.article-best-selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25rem;
  padding: 1.5rem;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  font-family: arial;
  background-color: var(--off-white);
}

.article-best-selling .product-card img {
  width: 21rem;
  height: 20rem;
}

.product-card button {
  background-color: var(--off-white);
  border-color: var(--medium-grey);
}

.void-categories {
  color: var(--off-white);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}

.article-categories {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}

.article-categories div a {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  align-items: center;
  color: #f2f3f5;
  justify-content: center;
  font-family: cursive;
  font-size: x-large;
  background-color: var(--light-grey);
}

footer {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  background: var(--dust-pink);
}

.connect-with-us {
  text-align: center;
  font-family: cursive;
}

.col-2 i {
  font-size: 30px;
}

.footer-grid-2 .row {
  justify-content: center;
  margin: 5px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.col-3 ul li {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 480px) {
  main .cover-picture div h1 {
    font-size: 12rem;
  }
}

@media screen and (min-width: 600px) {
  main .cover-picture div h1 {
    font-size: 15rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  main .cover-picture div h1 {
    font-size: 18rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  main .cover-picture div h1 {
    font-size: 15rem;
  }
}

